.search-click {
  border: 2px solid #5c4941;
  outline: none;
  transition: all 0.5s;
}
.search-click:focus {
  width: 300px;
  padding-left: 50px;
}
.search-click {
  position: relative;
  overflow: hidden;
}
.search-click input {
  background: transparent;
  border: 2px solid #5c4941;
  outline: none;
  position: absolute;
  width: 300px;
  left: 0%;
}
